.chatcontainer {
    max-width: 350px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .chatmessages {
    max-height: 400px;
    overflow-y: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .chatmessage1 {
    background: #f0f2f5;
    padding: 8px;
    border-radius: 8px;
    max-width: 80%;
    align-self: flex-start;
  }
  
  .chatmessage.admin {
    background: #e6f7ff;
    align-self: flex-end;
  }
  
  .sendbutton {
    height: 40px;
    border-radius: 0;
  }
  
  .ant-list-item {
    padding: 0;
  }
  
  .ant-input-textarea {
    border-radius: 0;
    border: none;
    resize: none;
  }
  
  